body {
  background: #ccc;
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#container {
  width: 300px;
  margin: 0 auto;
  color: #fff;
}


#board {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;

    & > .panel {
      cursor: pointer;
      font-size: 24px;
      background: #00aaff;
      width: 42px;
      height: 42px;
      margin: 6px;
      border-radius: 10px;
      box-shadow: 0 5px 0 #0088cc;
      line-height: 40px;
      text-align: center;
      padding: 5px 0px;
      position: relative;

      // clicked panel
      &.flipped {
        background: lightgray;
        box-shadow: 0 4px 0 gray;
      }

      // at fist, hidden panel
      // & .hidden::after {
      &.hidden::after {
        content: ''; // 何も書かない
        cursor: pointer;
        background: lightgray;
        width: 42px;
        height: 42px;
        border-radius: 5px;
        box-shadow: 0 5px 0 lightgray;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }      
    }
}

#btn {
  cursor: pointer;
  background: #f44336;
  box-shadow: 0 5px 0 #d1483e;
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;

  &:hover {opacity: 0.8;}
  &:active {
    margin-top: 15px;
    box-shadow: none;
  }
  &.restart {
    background: #24b168;
    box-shadow: 0 5px 0 #20995b;
  }
  &.complete {
    background: #245cb1;
    box-shadow: 0 5px 0 #202899;
  }
}

#score {
    text-align: right;
    margin: 10px 0;
    font-size: 24px;
}
